html {
    scroll-behavior: smooth;
}

body {
    background-color: darkkhaki;
    margin: 100px;
}

.bd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

.sd {
    color: darkslategray;
    font-size: 22px;
    text-align: center;
}

#janek {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    padding: 5px;
    transition: 0.7s;
    color: teal;
    z-index: 6;
}

#janek:hover {
    border-style: solid 2px yellow;
    border-radius: 5px;
    background-color: yellow;
}

#jedna {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: left;
    background-color: teal;
}

#dva {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
    background-color: tomato;
}

#pet {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 5;
    background-color: wheat;
}